{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    <div class="col-sm-9">
        <h4>
            <small>Последние новости</small>
        </h4>
        <hr>
        {% for article in articles %}
            <h2>
                <a href="">
                    {{ article.title }}
                </a>
            </h2>

            <h5><span class="glyphicon glyphicon-time"></span> {{ article.created_at }}</h5>

            <h5>
            {% for tag in article.tags.all %}
                <span class="label label-primary">{{ tag.name }}</span>
            {% endfor %}
            <br>
            </h5>

            <p>{{ article.text }}</p>

            <br><br>
            <hr>
        {% endfor %}
    </div>
{% endblock %}